*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color: #548687;
}

.container{
    height: 70vh;
    /* border : 2px solid black; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.game{
    height:60vh ;
    width: 60vh;
    /* border : 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap : 1vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #ffffff;
    font-size: 10vmin;
    background-color:#F8EECA ;
    color: black;
}