*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  background-color: black;
  width: 100%;
  height: 397px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

p{
  color: blanchedalmond;
}